{% extends "base.html" %}

{% block title %} Miembros {% endblock title %}

{% block content %}

<!-- 	<div class="HomePage" ng-controller="HomePageCtrl">
		<figure class="imgHome-content">
			<img src="/static/images/logocepasH130.jpg" alt="" class="imgHome">
		</figure>
	</div> -->

	<section class="clsMiembro" ng-controller="MiembrosCtrl">
		
		<div class="busqueda">
			<span>Miembro</span>
			<input type="text" ng-model="nombres" placeholder="Nombres" ng-keyup="buscarMiembro($event)">
			<span>Sociedad</span>
			<select name="Sociedad" id="iSociedad" ng-model="sociedad">
				<option value="*" selected>TODAS</option>
				<option value="D">Damas</option>
				<option value="C">Caballeros</option>
				<option value="J">Jovenes</option>
				<option value="A">Adolescentes</option>
				<option value="N">Niños</option>
			</select>
			<button class="Boton-azul boton-buscar-miembro" ng-click="buscarMiembro($event)">Buscar</button>
		</div>

		<ul ng-repeat="m in miembros" class="panel-miembros">
			<li class="item-miembro">
				<!-- <figure class="content-foto">
					<img class="foto" src="/static/images/logocepasHsmall.jpg" alt="">
				</figure> -->
				<img class="foto" src="/static/images/logocepasHsmall.jpg" alt="">

				<div class="detalle-miembro">
					<span class="nombre-miembro">[[m.nombres]] [[m.apellidos]]</span> 
					<span><strong>Iglesia: </strong>[[m.iglesia]]</span>
					<span ng-if="m.correo.length > 0"><strong>Correo: </strong>[[m.correo]] </span>
					<span><strong>Sociedad:</strong> [[m.sociedadDescrp]]</span>

					<div class="fechaRef"><strong>Desde:</strong> [[m.fechaRef]] </div>
				</div>

			</li>
		</ul>

	</section>


{% endblock content %}