{% extends "base.html" %}

{% block title %} Miembros {% endblock title %}

{% block content %}

<!-- 	<div class="HomePage" ng-controller="HomePageCtrl">
		<figure class="imgHome-content">
			<img src="/static/images/logocepasH130.jpg" alt="" class="imgHome">
		</figure>
	</div> -->

	<section class="clsMiembro" ng-controller="MiembrosCtrl">
		
		<div class="busqueda">
			<span>Miembro</span>
			<input type="text" ng-model="miembro">
			<button class="Boton-azul boton-buscar-miembro" ng-click="buscarMiembro($event)">Buscar</button>
		</div>

		<ul ng-repeat="m in miembros">
			<li>
				<p>[[m.nombres]] [[m.apellidos]] ---> <strong>[[m.iglesia]]</strong></p>
				<hr/>
			</li>
		</ul>

	</section>


{% endblock content %}