{% extends "base.html" %}

{% block title %} CEPAS {% endblock title %}

{% block content %}

	<div class="HomePage" ng-controller="HomePageCtrl">
		<figure class="imgHome-content">
			<img src="/static/images/logocepasH130.jpg" alt="" class="imgHome">
		</figure>


		<!-- <button class="Boton-azul" ng-click="saludoHome()">ESTO ES UN EJEMPLO </button> -->
		<table class="clsDigitadores" ng-init="GetDigitadores()">
			<tr><td colspan="3"><h2>Registros Modificados</h2></td></tr>
			<tr>
				<td>Digitador</td>
				<td>Iglesia</td>
				<td>Cantidad</td>
			</tr>
			<tr ng-repeat="registro in registros">
				<td>[[registro.username]]</td>
				<td>[[registro.titulo_conciliar]]</td>
				<td>[[registro.cantidad]]</td>
			</tr>
		</table>

		<table class="clsDigitadoresCreados" ng-init="GetDigitadoresCreados()">
			<tr><td colspan="3"><h2>Registros Creados</h2></td></tr>
			<tr>
				<td>Digitador</td>
				<td>Iglesia</td>
				<td>Cantidad</td>
			</tr>
			<tr ng-repeat="registro in registros">
				<td>[[registro.username]]</td>
				<td>[[registro.titulo_conciliar]]</td>
				<td>[[registro.cantidad]]</td>
			</tr>
		</table>

	</div>


{% endblock content %}