{% extends "base.html" %}

{% block title %} CEPAS {% endblock title %}

{% block content %}

	<div class="HomePage" ng-controller="HomePageCtrl">
		<div class="cargarDatos" ng-init="GetDigitadores(); GetDigitadoresCreados()">
			
		</div>

		<!-- <figure class="imgHome-content">
			<img src="/static/images/logocepasH130.jpg" alt="" class="imgHome">
		</figure> -->

		<!-- <button class="Boton-azul" ng-click="saludoHome()">ESTO ES UN EJEMPLO </button> -->
		<table ng-if="registros.length > 0" class="clsDigitadores">
			<tr><td colspan="3"><h2>Registros Modificados</h2></td></tr>
			<tr>
				<td>Digitador</td>
				<td>Iglesia</td>
				<td>Cantidad</td>
			</tr>
			<tr ng-repeat="registro in registros">
				<td>[[registro.username]]</td>
				<td>[[registro.titulo_conciliar]]</td>
				<td>[[registro.cantidad]]</td>
			</tr>
		</table>

		<table ng-if="registrosCreados.length > 0" class="clsDigitadoresCreados">
			<tr><td colspan="3"><h2>Registros Creados</h2></td></tr>
			<tr>
				<td>Digitador</td>
				<td>Iglesia</td>
				<td>Cantidad</td>
			</tr>
			<tr ng-repeat="registro in registrosCreados">
				<td>[[registro.username]]</td>
				<td>[[registro.titulo_conciliar]]</td>
				<td>[[registro.cantidad]]</td>
			</tr>
		</table>

	</div>


{% endblock content %}